.about { 
  margin: 50px;
  background: rgba( silver, .5 );
}

.title {
  font-family: Century Gothic, Helvetica;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #555;
  font-width: 500;
  position: relative;
  margin: 0 auto;
}

.information {
  font-family: Century Gothic, Helvetica;
  font-size: 15px;
  color: #555;
  position: relative;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
    
.flex-item-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 600px;
  padding: 0 10px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 400px; 
  background-image: url(/images/aboutme.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 1100px;
  background-color: #efefef;
  border: solid black 1px;
}
@media (max-width: 850px){
  .flex-item-1 {
    background-position: center;
  }
}
  
.flex-item-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 600px;
  padding: 0 10px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 400px;
  background-color: #efefef;
  border: solid black 1px;
}
@media (max-width: 850px){
  .flex-item-2 {
    font-size: 12px;
  }
}

.btn1 {
  font-family: Century Gothic, Helvetica;
  background-color: transparent;
  border-radius: 8px;
  border: 0;
  box-shadow: inset 0 0 0 1px #cccccc;
  color: #555;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  width: 135px;
  letter-spacing: 3px;
  line-height: 5px;
  padding: 0 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn2 {
  font-family: Century Gothic, Helvetica;
  background-color: transparent;
  border-radius: 8px;
  border: 0;
  box-shadow: inset 0 0 0 1px #cccccc;
  color: #555;
  font-size: 13px;
  font-weight: 500;
  height: 50px;
  width: 135px;
  letter-spacing: 2px;
  line-height: 5px;
  padding: 0 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn3 {
  font-family: Century Gothic, Helvetica;
  background-color: transparent;
  border-radius: 8px;
  border: 0;
  box-shadow: inset 0 0 0 1px #cccccc;
  color: #555;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  width: 135px;
  letter-spacing: 3px;
  line-height: 5px;
  padding: 0 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn1:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.btn2:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.btn3:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.buttons li {
  list-style: none;
  margin: 13px;
  position: relative;
  border: 1px;
  height: 23px;
}

.buttons {
  margin: 0;
  padding: 0;

}

.line1, .line2 {
    background-color: #cccccc;
    position: relative;
    top: 14px;
    left: 67px;
    height: 15px;
    width: 2px;
}

.foot {
  font-family: Century Gothic, Helvetica;
  text-decoration: none;
  font-size: 10px;
  color: #555;
  position: relative;
  margin: 0 auto;
  bottom: 0;
  text-align: center;
  padding: 5px; 
}