.background {
  height: 100vh;
  background: 
  url('/images/peru.jpg') no-repeat center top fixed;
  background-size: cover;
/*  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;*/
  z-index: 0;
}

#top {
  background-color: #DAF7A6;
  opacity: .5;
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 10px 10px;
  height: 48px;
  font-size: 16px;
  text-align: center;
}

a:hover {
color: silver;
}

.navbar {
  position: relative;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.info {
  position: absolute;
  margin-top: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.link1 {
  background-color: blue;
}

.scroll {
  height: 100vh;
  background: url(http://www.kricketservis.com/uploads/1/2/9/6/12969496/5678032_orig.jpg);
  background-size: cover;
  z-index: 2;
}


