
.bird-body {
  font-family: Century Gothic, Helvetica;
  font-size: 15px;
  color: #555;
  text-align:center;
  margin: 0px;
  overflow: hidden;
}

#info {
  position: absolute;
  top: 0px; width: 100%;
  padding: 5px;
}