{{!< default}}
<div id="root">
<header class="background">
  <h1 class="name">Kricket Servis</h1>
  <h2 class="info">Information</h2>
</header>
</div>
<div class="navbar">
  <nav></nav>  
</div>
<div class="scroll"> The 2nd page</div>